@page "{id}"
@model YourProject.Pages.MovieDetailsModel

@{
    ViewData["Title"] = Model.Movie.Title;
}

<h1>@Model.Movie.Title</h1>
<div>
    <p>@Model.Movie.ReleaseYear</p>
    <p>@Model.Movie.MovieHour</p>
</div>
<img src="@Model.Movie.PosterUrl" alt="@Model.Movie.Title poster" class="img-fluid rounded">

<!-- Fragmanı databaseden çekme kısmı -->

<div class="genres">
    <strong>Genres:</strong>
    <ul>
        @foreach (var genre in Model.Movie.Genres)
        {
            <li>@genre</li>
        }
    </ul>
</div>

<div class="long_description">
    <p><strong>Description:</strong> @Model.Movie.Description</p>
</div>
<div class="release_year">
    <p><strong>Year:</strong> @Model.Movie.ReleaseYear</p>
</div>
<div>
    <div class="director">
        <p><strong>Director:</strong> @Model.Movie.Director</p>
    </div>
    <div class="writer">
        <p><strong>Writer:</strong> @Model.Movie.Writer</p>
    </div>
    <div class="actors">
        <strong>Actors:</strong>
        <ul>
            @foreach (var actor in Model.Movie.Actors)
            {
                <li>@actor</li>
            }
        </ul>
    </div>
</div>
