@model MyWebApp.Models.Movie

<div class="movie-card">
    <img src="@Model.Posterurl" alt="@Model.Title poster" class="img-fluid rounded">
    <h5 class="mt-3">@Model.Title</h5>
    <p>@Model.Description</p>
    <p><strong>Year:</strong> @Model.Releaseyear</p>
    <p><strong>Rating:</strong> @Model.Rating / 10</p>
</div>


